{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- ================= BANNER ================= -->
<section class="hero-banner">
  <div class="swiper bannerSwiper">
    <div class="swiper-wrapper">
      {% for banner in banners %}
        <div class="swiper-slide">
          <img src="{{ banner.image.url }}" alt="{{ banner.title }}">
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<!-- ================= LAPTOP ================= -->
<div class="product-section">
  <h2 class="laptop-title">Laptop Deals</h2>
  <div class="product-grid">
    {% for product in laptops %}
      {% include "product_card.html" %}
    {% empty %}
      <p>No laptops found.</p>
    {% endfor %}
  </div>
</div>

<!-- ================= MOUSE ================= -->
<div class="product-section">
  <h2 class="laptop-title">Mouse</h2>
  <div class="product-grid">
    {% for product in mouses %}
      {% include "product_card.html" %}
    {% empty %}
      <p>No mouse found.</p>
    {% endfor %}
  </div>
</div>

<!-- ================= TV ================= -->
<div class="product-section">
  <h2 class="laptop-title">TV</h2>
  <div class="product-grid">
    {% for product in tvs %}
      {% include "product_card.html" %}
    {% empty %}
      <p>No TV found.</p>
    {% endfor %}
  </div>
</div>

<!-- ================= WASHING MACHINE ================= -->
<div class="product-section">
  <h2 class="laptop-title">Washing Machine</h2>
  <div class="product-grid">
    {% for product in washing_machines %}
      {% include "product_card.html" %}
    {% empty %}
      <p>No washing machines found.</p>
    {% endfor %}
  </div>
</div>

<!-- ================= OTHER PRODUCTS ================= -->
{% comment %} <div class="product-section">
  <h2 class="laptop-title">Other Products</h2>
  <div class="product-grid">
    {% for product in other_products %}
      {% include "product_card.html" %}
    {% empty %}
      <p>No other products available.</p>
    {% endfor %}
  </div>
</div> {% endcomment %}

{% endblock %}
