{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="product-page">
    <div class="product-left">
        <div class="mobile-image-container mobile-only">
            <button
        class="wishlist-button mobile-wishlist {% if product.is_wishlisted %}active{% endif %}"
        data-product-id="{{ product.id }}"
        type="button">
        <i class="fa-{% if product.is_wishlisted %}solid{% else %}regular{% endif %} fa-heart"></i>
    </button>
            <div class="mobile-slider" id="imageSlider">
                {% for img in product.productimage_set.all %}
                    <img src="{{ img.photo.url }}" class="mobile-slide">
                {% endfor %}
            </div>
            <div class="dots-container">
                {% for img in product.productimage_set.all %}
                    <span class="dot {% if forloop.first %}active{% endif %}"></span>
                {% endfor %}
            </div>
        </div>

        <div class="image-section desktop-only">
            <div class="thumbs-wrapper">
                <button class="thumb-arrow up" onclick="scrollThumbs('up')">
                    <i class="fa-solid fa-chevron-up"></i>
                </button>
                <div class="thumbs" id="thumbWrapper">
                    {% for img in product.productimage_set.all %}
                        <img src="{{ img.photo.url }}" 
                             onmouseover="document.getElementById('mainProductImage').src='{{ img.photo.url }}'"
                             class="thumb-img">
                    {% endfor %}
                </div>
                <button class="thumb-arrow down" onclick="scrollThumbs('down')">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>

            <div class="main-img-container">
                <div class="main-img">
                    {% if product.productimage_set.first %}
                        <img id="mainProductImage" src="{{ product.productimage_set.first.photo.url }}">
                    {% endif %}
                </div>
                <button
    class="wishlist-button {% if product.is_wishlisted %}active{% endif %}"
    data-product-id="{{ product.id }}"
    type="button"
  >
    <i class="fa-{% if product.is_wishlisted %}solid{% else %}regular{% endif %} fa-heart"></i>
  </button>
            </div>
        </div>
    </div>

    <div class="product-right">
        <nav class="breadcrumb">Home > {{ product.category }} > {{ product.name }}</nav>
        
        <h1 class="product-name">{{ product.name }}</h1>
        
        <div class="rating-row">
            <span class="badge-rating">4.3 ★</span>
            <span class="rating-text">1,245 Ratings & 156 Reviews</span>
        </div>

        <div class="price_box">
            <span class="new-price">₹{{ product.price }}</span>
            {% if product.discount %}
                <span class="old-price">₹{{ product.discount }}</span>
                <span class="discount-percent">25% off</span>
            {% endif %}
        </div>

        
        <div class="offers-section">
            <h3>Available Offers</h3>
            <ul>
                <li><i class="fa-solid fa-tag"></i> <b>Bank Offer</b> 10% off on SBI Credit Card.</li>
                <li><i class="fa-solid fa-tag"></i> <b>Bank Offer</b> 5% Cashback on Flipkart Axis Bank Card.</li>
            </ul>
        </div>

        <div class="highlights-section">
            <h3>Highlights</h3>
            <ul>
                <li>{{ product.description|truncatewords:50 }}</li>
                <li>7 Days Replacement Policy</li>
                <li>Cash on Delivery Available</li>
            </ul>
        </div>
        <div class="product-buttons">
            <button class="cart-btn add-to-cart-btn {% if product.stock == 0 %}disabled{% endif %}" data-product-id="{{ product.id }}">
                <i class="fa fa-shopping-cart"></i> ADD TO CART
            </button>
            
            {% if product.stock > 0 %}
                <a href="{% url 'checkout' %}?buy_now={{ product.id }}" class="buy-btn">
                    <i class="fa fa-bolt"></i> BUY NOW
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}