{% extends "dashboard/base.html" %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet">
<div id="calendar"></div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {

    const calendar = new FullCalendar.Calendar(
        document.getElementById("calendar"),
        {
            initialView: "dayGridMonth",   

            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,timeGridDay,listWeek"
            },

            nowIndicator: true,
            height: "auto",

            slotMinTime: "00:00:00",
            slotMaxTime: "23:59:59",

            events: "{% url 'pending_hour_events' %}",

            eventColor: "#dc3545",
            eventTextColor: "#fff",
        }
    );

    calendar.render();
});
</script>
{% endblock %}