<div class="sidebar" id="side_nav">
    <!-- Sidebar Header -->
    <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
        <h1 class="fs-4">
            {% comment %} <span class="bg-white text-dark rounded shadow px-2 me-2">CL</span> {% endcomment %}
            <span class="text-white"><i class="bi bi-speedometer2 me-2"></i>Dashboard</span>
        </h1>   
        <button class="btn d-md-none d-block close-btn px-1 py-0 text-white">
            <i class="bi bi-list-task"></i>
        </button>
    </div>

    <!-- Sidebar Menu -->
    <ul class="list-unstyled px-2">
    {% comment %} <li class="{% if request.path == '/' %}active{% endif %}">
     <li>
        <a href="/" class="text-decoration-none px-3 py-2 d-block">
            <i class="bi bi-house"></i> Dashboard
        </a>
    </li> {% endcomment %}
    <li class="{% if request.path == '/user_list/' %}active{% endif %}">
        <a href="{% url 'user_list' %}" class="text-decoration-none px-3 py-2 d-block">
          <i class="bi bi-people-fill"></i> Users
        </a>
    </li>
    <li class="{% if request.path == '/categoery_list/' %}active{% endif %}">
        <a href="{% url 'categoery_list' %}" class="text-decoration-none px-3 py-2 d-block">
            <i class="bi bi-grid"></i> Category
        </a>
    </li>
    <li class="{% if request.path == '/products/' %}active{% endif %}">
        <a href="{% url 'product_list' %}" class="text-decoration-none px-3 py-2 d-block">
            <i class="bi bi-bag"></i> Product
        </a>
    </li>
    <li class="{% if request.path == '/messages/' %}active{% endif %}">
        <a href="#" class="text-decoration-none px-3 py-2 d-block d-flex justify-content-between">
            <span><i class="bi bi-chat"></i> Messages</span>
            <span class="bg-dark rounded-pill text-white py-0 px-2">02</span>
        </a>
    </li>
    <li class="{% if request.path == '/services/' %}active{% endif %}">
        <a href="#" class="text-decoration-none px-3 py-2 d-block">
            <i class="bi bi-envelope-open"></i> Services
        </a>
    </li>
    {% comment %} <li class="{% if request.path == '/customers/' %}active{% endif %}">
        <a href="/customers/" class="text-decoration-none px-3 py-2 d-block">
            <i class="bi bi-people"></i> Customers
        </a>
    </li> {% endcomment %}

     <li class="{% if request.path == '/banner/' %}active{% endif %}">
        <a href="{% url 'banner' %}" class="text-decoration-none px-3 py-2 d-block">
            <i class="bi bi-image"></i> Banner
        </a>
    </li>
</ul>


    <hr class="h-color mx-2">

    <ul class="list-unstyled px-2">
        <li>
            <a href="#" class="text-decoration-none px-3 py-2 d-block">
                <i class="bi bi-list"></i> Settings
            </a>
        </li>
        <li>
            <a href="#" class="text-decoration-none px-3 py-2 d-block">
                <i class="bi bi-bell"></i> Notifications
            </a>
        </li>
    </ul>
</div>
